{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Izdelki{% endblock %}

{% block content %}
<h2 class="admin-title">Izdelki</h2>
<a class="btn btn-small pull-right" href="{{ path('_admin_add_article') }}"><i class="icon-plus"></i> Dodaj izdelek</a>
<table class="table table-condensed table-hover border mytable">
  <thead>
    <tr>
      <th>Id</th>
      <th style="text-align: center;">Naslov</th>
      <th style="text-align: center;">Text</th>
      <th style="text-align: center;">Slika</th>
      <th style="text-align: center;">Status</th>
      <th style="text-align: center;">Datum vnosa</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% set counter = 0 %}
    {% for item in items %}
    {% set counter = counter + 1 %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name}}</td>
      <td>{{ item.text|length > 50 ? item.text|slice(0, 50) ~ '...' : item.text }}</td>
      <td>
          <a href="{{ asset('article/')}}{{item.path }}" data-lightbox="Novice-{{ counter}}">
            <img src="{{ asset('article/')}}{{item.path }}" alt="slika" style="width: 50px; height: 50px;"/>
          </a>
      </td>
      <td>{{ item.status }}</td>
      <td>{{ item.created|date('d.m.Y H:i:s')}}</td>
      <td><a href="{{ path('_admin_edit_article', {'id': item.id}) }}" title="Uredi novico">
              <i class="icon-edit"></i>Uredi</a>&nbsp;
              <a href="{{ path('_admin_delete_article', {'id': item.id } ) }}" class="confirmation" title="Odstrani novico" data-confirmation="Ali si prepričan?">
                  <i class="icon-trash">Izbriši</i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
