{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Storitve{% endblock %}

{% block content %}
<h2>Storitve</h2>
<a class="btn btn-small pull-right" href="{{ path('_admin_add_storitve') }}"><i class="icon-plus"></i> Dodaj Storitev</a>
<table class="table table-condensed table-hover border mytable">
  <thead>
    <tr>
      <th>Id</th>
      <th style="text-align: center;">Ime</th>
      <th style="text-align: center;">Text</th>
      <th style="text-align: center;">Slika</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% set counter = 0 %}
    {% for item in items %}
    {% set counter = counter + 1 %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name}}</td>
      <td>{{ item.text|length > 250 ? item.text|slice(0, 250) ~ '...' : item.text }}</td>
      <td>
          <a href="{{ asset('storitve/')}}{{item.path }}" data-lightbox="storitve-{{ counter}}">
            <img src="{{ asset('storitve/')}}{{item.path }}" alt="slika" style="width: 50px; height: 50px;"/>
          </a>
      </td>
      <td><a href="{{ path('_admin_edit_storitve', {'id': item.id}) }}" title="Uredi storitve">
              <i class="icon-edit"></i>Uredi</a>&nbsp;
              <a href="{{ path('_admin_delete_storitve', {'id': item.id } ) }}" class="confirmation" title="Odstrani storitve" data-confirmation="Ali si prepričan?">
                  <i class="icon-trash">Izbriši</i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
