{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Povpraševanja{% endblock %}

{% block content %}
<h2 class="title">Povpraševanja</h2>
<table class="table table-condensed table-hover border mytable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Priimek</th>
      <th>Podjetje</th>
      <th>Besedilo</th>
      <th>Status</th>
      <th>Datum vnosa</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for item in inquirys %}
    {% if item.status == "Received" %}
      {% set color = "red" %}
    {% elseif item.status == "In_progress" %}
      {% set color = "blue" %}
    {% else %}
      {% set color = "green" %}
    {% endif %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.surname }}</td>
      <td>{{ item.company }}</td>
      <td>{{ item.text|length > 50 ? item.text|slice(0, 50) ~ '...' : item.text }}</td>
      <td style="color: {{ color }}">{{ item.status }}</td>
      <td>{{ item.created|date('d.m.Y H:i:s')}}</td>
      <td><a href="{{ path('_admin_edit_inquiry', {'id': item.id}) }}" title="Uredi povpraševanje">
              <i class="icon-edit"></i>Uredi</a>&nbsp;
              <a href="{{ path('_admin_delete_inquiry', {'id': item.id } ) }}" class="confirmation" title="Odstrani povpraševanje" data-confirmation="Ali si prepričan?">
                  <i class="icon-trash">Izbriši</i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
