{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}{% trans %}Storitve{% endtrans %}{% endblock %}

{% block content %}
<h1 class="title title-color">{% trans %}Storitve{% endtrans %}</h1>
{% if services is not empty %}    
    {% for item in services %}
        <table class="table">
        <tr>
            <td>
                <h2>{{ item.name}}</h2>
                {{ item.text|length > 450 ? item.text|slice(0, 450) ~ '...' : item.text }}
            </td>
                {% set counter = 0 %}
                {% if item.path is not empty %}
                {% set counter = counter + 1 %}
                <td>
                    <a class="table-image" href="{{ asset('storitve/')}}{{item.path }}" data-lightbox="Storitve-{{ counter}}">
                        <img src="{{ asset('storitve/')}}{{item.path }}" alt="slika" width=150/>
                    </a>
                </td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
{% else %}
    <p style="padding: 30px 0px 0px 100px; margin-bottom: 400px;">{% trans %}V izdelavi{% endtrans %}</p>
{% endif %}
    
{% endblock %}